<app-nav></app-nav>
<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <form [formGroup]="form" (submit)="submit()">
            <h1 class="h3 mb-3 fw-normal"> Please register</h1>
            <label class="text-danger" >Name</label>
            <input formControlName="name" class="form-control mt-2" placeholder="Please enter the name" type="text">
            <label class="text-danger">email</label>
            <input formControlName="email" class="form-control mt-2" placeholder="Please enter the email " type="email">
            <label class="text-danger">password</label>
            <input formControlName="password" class="form-control mt-2" placeholder="Please enter the password" type="password">
            <button class="w-100 btn btn-lg btn-dark mt-2" type="submit">Submit</button>
        
        </form>
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>

