<app-admin-nav></app-admin-nav>
<div   class="col-lg-8  mx-auto pt-2 h-100">
    <h4 style="color: black;" *ngIf="loading$ | async">loading...</h4>
<!-- {{loading$ | async}}
{{loaded$ | async}} -->
    <ng-container *ngIf="loaded$ | async">
      <h4 style="color: red;">User</h4>
      <div class="d-flex justify-content-end ">
          <!-- <button class="btn btn-success" (click)="createUser()" >Create user</button> -->
          <button class="btn btn-success" routerLink="/admin/admincreateuser">Create user</button>
      </div>  
      <table class="table table-striped pt-5">
      <thead class="thead-dark">
        <tr>
          <th scope="col"><i><b>No</b></i></th>
          <th scope="col"><i><b>Name</b></i></th>
          <th scope="col"><i><b>Email</b></i></th>
          <th scope="col"><i><b>Edit</b></i></th>
          <th scope="col"><i><b>Delete</b></i></th>
        </tr>
      </thead>
      <tbody *ngIf="(users$ | async) as userdata">
        <tr *ngFor="let item of userdata  let i = index">
          <td scope="row"><i>{{i+1}}</i></td>
          
          <td><i>{{item.name}}</i></td>
          <td><i>{{item.email}}</i></td> 
           <td><button class="btn btn-primary" (click)="editUser(item._id)">Edit</button></td>
          <td><button class="btn btn-danger" (click)="removeUser(item._id)">Delete</button></td>
        </tr>
      </tbody>
    </table>
    </ng-container>
  
  

</div>
  


